{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://api.contribly.com/1"
        }
    ],
    "info": {
        "contact": {
            "x-twitter": "contribly"
        },
        "title": "Contribly",
        "version": "1.0.0",
        "x-apisguru-categories": [
            "social"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_contribly_profile_image.jpeg"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://api.contribly.com/1/swagger.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "contribly.com"
    },
    "tags": [
        {
            "description": "Create and list assignments",
            "name": "assignment"
        },
        {
            "description": "Submit, moderate and retrieve user contributions",
            "name": "contribution"
        },
        {
            "description": "Create and edit forms",
            "name": "form"
        },
        {
            "description": "Submit media",
            "name": "media"
        },
        {
            "description": "Notifications are templated email messages which can be sent to contributors. A notification might be used to request further information from a contributor or inform them when their contribution has been published.",
            "name": "notifications"
        },
        {
            "description": "Subscribe to be alerted when events occur. For example receive email notification when a contribution is flagged.",
            "name": "subscriptions"
        },
        {
            "description": "Create and list tags and tag sets",
            "name": "tag"
        },
        {
            "description": "Manage users",
            "name": "user"
        },
        {
            "description": "Authentication related",
            "name": "auth"
        }
    ],
    "paths": {
        "/artifact-formats": {
            "get": {
                "description": "List the available artifact formats",
                "responses": {
                    "200": {
                        "description": "A list of artifact formats",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "contribution": {
                                            "items": {
                                                "properties": {
                                                    "contentType": {
                                                        "type": "string"
                                                    },
                                                    "fileExtension": {
                                                        "type": "string"
                                                    },
                                                    "forContentType": {
                                                        "type": "string"
                                                    },
                                                    "label": {
                                                        "type": "string"
                                                    },
                                                    "preserveAspectRatio": {
                                                        "type": "boolean"
                                                    },
                                                    "public": {
                                                        "type": "boolean"
                                                    },
                                                    "upscaleAllowed": {
                                                        "type": "boolean"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "cover": {
                                            "items": {
                                                "properties": {
                                                    "contentType": {
                                                        "type": "string"
                                                    },
                                                    "fileExtension": {
                                                        "type": "string"
                                                    },
                                                    "forContentType": {
                                                        "type": "string"
                                                    },
                                                    "label": {
                                                        "type": "string"
                                                    },
                                                    "preserveAspectRatio": {
                                                        "type": "boolean"
                                                    },
                                                    "public": {
                                                        "type": "boolean"
                                                    },
                                                    "upscaleAllowed": {
                                                        "type": "boolean"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "profileImage": {
                                            "items": {
                                                "properties": {
                                                    "contentType": {
                                                        "type": "string"
                                                    },
                                                    "fileExtension": {
                                                        "type": "string"
                                                    },
                                                    "forContentType": {
                                                        "type": "string"
                                                    },
                                                    "label": {
                                                        "type": "string"
                                                    },
                                                    "preserveAspectRatio": {
                                                        "type": "boolean"
                                                    },
                                                    "public": {
                                                        "type": "boolean"
                                                    },
                                                    "upscaleAllowed": {
                                                        "type": "boolean"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Artifact formats",
                "tags": [
                    "info"
                ]
            }
        },
        "/assignments": {
            "get": {
                "parameters": [
                    {
                        "description": "Restrict results to assignments owned by this user.",
                        "in": "query",
                        "name": "ownedBy",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Pagination page",
                        "in": "query",
                        "name": "page",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "description": "Pagination page size",
                        "in": "query",
                        "name": "pageSize",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "description": "Restrict results to assignments whose name or description matches this keyword.",
                        "in": "query",
                        "name": "q",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Select an assignment by urlWords.",
                        "in": "query",
                        "name": "urlWords",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Select open or closed assignments",
                        "in": "query",
                        "name": "open",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "description": "Select assignments with no closing date.",
                        "in": "query",
                        "name": "alwaysOpen",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "description": "Restrict results to assignments which are tagged with this tag.",
                        "in": "query",
                        "name": "tag",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Restrict results to the assignment (or potentially assignments) with this exact name",
                        "in": "query",
                        "name": "name",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of assignments",
                        "headers": {
                            "X-total-count": {
                                "description": "Total number of matching contributions",
                                "schema": {
                                    "type": "number"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "allowsAnonymousContributions": {
                                                "type": "boolean"
                                            },
                                            "cover": {
                                                "properties": {
                                                    "artifacts": {
                                                        "items": {
                                                            "properties": {
                                                                "contentLength": {
                                                                    "type": "number"
                                                                },
                                                                "contentType": {
                                                                    "type": "string"
                                                                },
                                                                "height": {
                                                                    "type": "number"
                                                                },
                                                                "label": {
                                                                    "type": "string"
                                                                },
                                                                "url": {
                                                                    "type": "string"
                                                                },
                                                                "width": {
                                                                    "type": "number"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "media": {
                                                        "properties": {
                                                            "duration": {
                                                                "type": "number"
                                                            },
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "place": {
                                                                "properties": {
                                                                    "country": {
                                                                        "type": "string"
                                                                    },
                                                                    "geohash": {
                                                                        "type": "string"
                                                                    },
                                                                    "google": {
                                                                        "type": "string"
                                                                    },
                                                                    "latLong": {
                                                                        "properties": {
                                                                            "latitude": {
                                                                                "format": "double",
                                                                                "type": "number"
                                                                            },
                                                                            "longitude": {
                                                                                "format": "double",
                                                                                "type": "number"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "name": {
                                                                        "type": "string"
                                                                    },
                                                                    "osm": {
                                                                        "properties": {
                                                                            "osmId": {
                                                                                "type": "number"
                                                                            },
                                                                            "osmType": {
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "created": {
                                                "format": "date-time",
                                                "type": "string"
                                            },
                                            "description": {
                                                "type": "string"
                                            },
                                            "embargo": {
                                                "format": "date-time",
                                                "type": "string"
                                            },
                                            "ends": {
                                                "format": "date-time",
                                                "type": "string"
                                            },
                                            "featured": {
                                                "type": "boolean"
                                            },
                                            "id": {
                                                "type": "string"
                                            },
                                            "mediaRequired": {
                                                "type": "boolean"
                                            },
                                            "name": {
                                                "type": "string"
                                            },
                                            "open": {
                                                "description": "Helper value. Is this assignment currently open? Based on the value of the ends field.",
                                                "type": "boolean"
                                            },
                                            "receiptMessage": {
                                                "description": "An optional assignment specific message to be displayed on successful contribution submission. For example, this might be used to inform contributors of assignment specific moderation time frames.",
                                                "type": "string"
                                            },
                                            "starts": {
                                                "format": "date-time",
                                                "type": "string"
                                            },
                                            "tags": {
                                                "items": {
                                                    "properties": {
                                                        "colour": {
                                                            "description": "Optional HTML hexcode colour",
                                                            "example": "#0061a6",
                                                            "type": "string"
                                                        },
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        },
                                                        "tagSet": {
                                                            "properties": {
                                                                "id": {
                                                                    "type": "string"
                                                                },
                                                                "name": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "id",
                                                                "name"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "urlWords": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "id",
                                                        "name"
                                                    ],
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "urlWords": {
                                                "type": "string"
                                            },
                                            "webUrl": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "summary": "List assignments",
                "tags": [
                    "assignment"
                ]
            },
            "post": {
                "responses": {
                    "200": {
                        "description": "Assignment created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "allowsAnonymousContributions": {
                                            "type": "boolean"
                                        },
                                        "cover": {
                                            "properties": {
                                                "artifacts": {
                                                    "items": {
                                                        "properties": {
                                                            "contentLength": {
                                                                "type": "number"
                                                            },
                                                            "contentType": {
                                                                "type": "string"
                                                            },
                                                            "height": {
                                                                "type": "number"
                                                            },
                                                            "label": {
                                                                "type": "string"
                                                            },
                                                            "url": {
                                                                "type": "string"
                                                            },
                                                            "width": {
                                                                "type": "number"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "id": {
                                                    "type": "string"
                                                },
                                                "media": {
                                                    "properties": {
                                                        "duration": {
                                                            "type": "number"
                                                        },
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "place": {
                                                            "properties": {
                                                                "country": {
                                                                    "type": "string"
                                                                },
                                                                "geohash": {
                                                                    "type": "string"
                                                                },
                                                                "google": {
                                                                    "type": "string"
                                                                },
                                                                "latLong": {
                                                                    "properties": {
                                                                        "latitude": {
                                                                            "format": "double",
                                                                            "type": "number"
                                                                        },
                                                                        "longitude": {
                                                                            "format": "double",
                                                                            "type": "number"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "name": {
                                                                    "type": "string"
                                                                },
                                                                "osm": {
                                                                    "properties": {
                                                                        "osmId": {
                                                                            "type": "number"
                                                                        },
                                                                        "osmType": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "created": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "description": {
                                            "type": "string"
                                        },
                                        "embargo": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "ends": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "featured": {
                                            "type": "boolean"
                                        },
                                        "id": {
                                            "type": "string"
                                        },
                                        "mediaRequired": {
                                            "type": "boolean"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "open": {
                                            "description": "Helper value. Is this assignment currently open? Based on the value of the ends field.",
                                            "type": "boolean"
                                        },
                                        "receiptMessage": {
                                            "description": "An optional assignment specific message to be displayed on successful contribution submission. For example, this might be used to inform contributors of assignment specific moderation time frames.",
                                            "type": "string"
                                        },
                                        "starts": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "tags": {
                                            "items": {
                                                "properties": {
                                                    "colour": {
                                                        "description": "Optional HTML hexcode colour",
                                                        "example": "#0061a6",
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "tagSet": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "name"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "urlWords": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "id",
                                                    "name"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "urlWords": {
                                            "type": "string"
                                        },
                                        "webUrl": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The new assignment vailed to validate. Check the response body for details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "fields": {
                                            "items": {
                                                "properties": {
                                                    "message": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "name"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Failed to create the new assignment due to an unexpected error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "fields": {
                                            "items": {
                                                "properties": {
                                                    "message": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "name"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "Create a new assignment",
                "tags": [
                    "assignment"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "allowsAnonymousContributions": {
                                        "type": "boolean"
                                    },
                                    "cover": {
                                        "properties": {
                                            "artifacts": {
                                                "items": {
                                                    "properties": {
                                                        "contentLength": {
                                                            "type": "number"
                                                        },
                                                        "contentType": {
                                                            "type": "string"
                                                        },
                                                        "height": {
                                                            "type": "number"
                                                        },
                                                        "label": {
                                                            "type": "string"
                                                        },
                                                        "url": {
                                                            "type": "string"
                                                        },
                                                        "width": {
                                                            "type": "number"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "id": {
                                                "type": "string"
                                            },
                                            "media": {
                                                "properties": {
                                                    "duration": {
                                                        "type": "number"
                                                    },
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "place": {
                                                        "properties": {
                                                            "country": {
                                                                "type": "string"
                                                            },
                                                            "geohash": {
                                                                "type": "string"
                                                            },
                                                            "google": {
                                                                "type": "string"
                                                            },
                                                            "latLong": {
                                                                "properties": {
                                                                    "latitude": {
                                                                        "format": "double",
                                                                        "type": "number"
                                                                    },
                                                                    "longitude": {
                                                                        "format": "double",
                                                                        "type": "number"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "osm": {
                                                                "properties": {
                                                                    "osmId": {
                                                                        "type": "number"
                                                                    },
                                                                    "osmType": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "description": {
                                        "type": "string"
                                    },
                                    "embargo": {
                                        "format": "date-time",
                                        "type": "string"
                                    },
                                    "ends": {
                                        "format": "date-time",
                                        "type": "string"
                                    },
                                    "featured": {
                                        "type": "boolean"
                                    },
                                    "id": {
                                        "type": "string"
                                    },
                                    "mediaRequired": {
                                        "type": "boolean"
                                    },
                                    "name": {
                                        "type": "string"
                                    },
                                    "receiptMessage": {
                                        "description": "An optional assignment specific message to be displayed on successful contribution submission. For example, this might be used to inform contributors of assignment specific moderation time frames.",
                                        "type": "string"
                                    },
                                    "starts": {
                                        "format": "date-time",
                                        "type": "string"
                                    },
                                    "tags": {
                                        "items": {
                                            "properties": {
                                                "colour": {
                                                    "description": "Optional HTML hexcode colour",
                                                    "example": "#0061a6",
                                                    "type": "string"
                                                },
                                                "id": {
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "type": "string"
                                                },
                                                "tagSet": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "name": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "id",
                                                        "name"
                                                    ],
                                                    "type": "object"
                                                },
                                                "urlWords": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "id",
                                                "name"
                                            ],
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "urlWords": {
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "name"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "description": "Assignment object to be created",
                    "required": true
                }
            }
        },
        "/assignments/{id}": {
            "delete": {
                "parameters": [
                    {
                        "description": "Id of the assignment to return",
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Assignment deleted"
                    },
                    "403": {
                        "description": "Not permitted to delete this assignment."
                    },
                    "404": {
                        "description": "Not found"
                    }
                },
                "summary": "Delete this assignment and all of it's contributions",
                "tags": [
                    "assignment"
                ]
            },
            "get": {
                "parameters": [
                    {
                        "description": "Id of the assignment to return",
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Assignment found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "allowsAnonymousContributions": {
                                            "type": "boolean"
                                        },
                                        "cover": {
                                            "properties": {
                                                "artifacts": {
                                                    "items": {
                                                        "properties": {
                                                            "contentLength": {
                                                                "type": "number"
                                                            },
                                                            "contentType": {
                                                                "type": "string"
                                                            },
                                                            "height": {
                                                                "type": "number"
                                                            },
                                                            "label": {
                                                                "type": "string"
                                                            },
                                                            "url": {
                                                                "type": "string"
                                                            },
                                                            "width": {
                                                                "type": "number"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "id": {
                                                    "type": "string"
                                                },
                                                "media": {
                                                    "properties": {
                                                        "duration": {
                                                            "type": "number"
                                                        },
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "place": {
                                                            "properties": {
                                                                "country": {
                                                                    "type": "string"
                                                                },
                                                                "geohash": {
                                                                    "type": "string"
                                                                },
                                                                "google": {
                                                                    "type": "string"
                                                                },
                                                                "latLong": {
                                                                    "properties": {
                                                                        "latitude": {
                                                                            "format": "double",
                                                                            "type": "number"
                                                                        },
                                                                        "longitude": {
                                                                            "format": "double",
                                                                            "type": "number"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "name": {
                                                                    "type": "string"
                                                                },
                                                                "osm": {
                                                                    "properties": {
                                                                        "osmId": {
                                                                            "type": "number"
                                                                        },
                                                                        "osmType": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "created": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "description": {
                                            "type": "string"
                                        },
                                        "embargo": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "ends": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "featured": {
                                            "type": "boolean"
                                        },
                                        "id": {
                                            "type": "string"
                                        },
                                        "mediaRequired": {
                                            "type": "boolean"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "open": {
                                            "description": "Helper value. Is this assignment currently open? Based on the value of the ends field.",
                                            "type": "boolean"
                                        },
                                        "receiptMessage": {
                                            "description": "An optional assignment specific message to be displayed on successful contribution submission. For example, this might be used to inform contributors of assignment specific moderation time frames.",
                                            "type": "string"
                                        },
                                        "starts": {
                                            "format": "date-time",
                                            "type": "string"
                                        },
                                        "tags": {
                                            "items": {
                                                "properties": {
                                                    "colour": {
                                                        "description": "Optional HTML hexcode colour",
                                                        "example": "#0061a6",
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "tagSet": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "id",
                                                            "name"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "urlWords": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "id",
                                                    "name"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "urlWords": {
                                            "type": "string"
                                        },
                                        "webUrl": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found"
                    }
                },
                "summary": "Get a single assigment by id",
                "tags": [
                    "assignment"
                ]
            }
        },
        "/change-log": {
            "get": {
                "description": "The Contribly change log.",
                "responses": {
                    "200": {
                        "description": "A list of change log items",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "date": {
                                                "format": "date-time",
                                                "type": "string"
                                            },
                                            "description": {
                                                "type": "string"
                                            },
                                            "title": {
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "title",
                                            "date"
                                        ],
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "summary": "Recent changes",
                "tags": [
                    "info"
                ]
            }
        },
        "/contribution-refinement-types": {
            "get": {
                "responses": {
                    "200": {
                        "description": "An array of refinement types. These are the possible values of the get contribution refinements parameter.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "type": "string"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "summary": "List valid contribution refinement types",
                "tags": [
                    "contribution"
                ]
            }
        },
        "/contribution-refinements": {
            "get": {
                "description": "Given a contribution list query determine the available filter options. Can be used to generate the UI to refinement a filter.",
                "parameters": [
                    {
                        "description": "Restrict results to contributions submitted to this assignment.",
                        "in": "query",
                        "name": "assignment",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Limit results to contributions which have a publicly visible location within the given country (specified by two letter country code).",
                        "in": "query",
                        "name": "country",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Limit results to contributions created before this date time.",
                        "in": "query",
                        "name": "createdBefore",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "description": "Limit results to contributions created after this date time.",
                        "in": "query",
                        "name": "createdAfter",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "description": "Restrict results to contributions which have specified a location which falls within this geohash (or comma seperated list of multiple geohashes)",
                        "in": "query",
                        "name": "geohash",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Restrict results to contributions which have a publicly visible location.",
                        "in": "query",
                        "name": "hasLocation",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "description": "Limit results to contributions with location near this latitude and longitude (comma seperated lat/long pair). Also see radius",
                        "in": "query",
                        "name": "latLong",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "When limiting result by location with the latLong parameter, specify the radius in kilometers.",
                        "in": "query",
                        "name": "radius",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "double"
                        }
                    },
                    {
                        "description": "Restrict results to contributions which include a media file of the given type (ie. image / video)",
                        "in": "query",
                        "name": "mediaType",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Restrict results to contributions which are fall under the jurisdiction by this user.",
                        "in": "query",
                        "name": "ownedBy",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Restrict results to contributions whose headline text matches this keyword.",
                        "in": "query",
                        "name": "q",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Locate a specific contribution by URL words",
                        "in": "query",
                        "name": "urlWords",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Restrict results to contributions by this user identified by id.",
                        "in": "query",
                        "name": "user",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Comma seperated list of refinement names.",
                        "in": "query",
                        "name": "refinements",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Number of refinement options to return.",
                        "in": "query",
                        "name": "refinementSize",
                        "required": false,
                        "schema": {
                            "type": "number"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A map of refinement names to lists of options",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "additionalProperties": {
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "summary": "List contribution refinement options",
                "tags": [
                    "contribution"
                ]
            }
        },
        "/contributions": {
            "get": {
                "description": "Retrieve contributions.",
                "parameters": [
                    {
                        "description": "Restrict results to contributions submitted to this assignment.",
                        "in": "query",
                        "name": "assignment",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Limit results to contributions which have a publicly visible location within the given country (specified by two letter country code).",
                        "in": "query",
                        "name": "country",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Limit results to contributions created before this date time.",
                        "in": "query",
                        "name": "createdBefore",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "description": "Limit results to contributions created after this date time.",
                        "in": "query",
                        "name": "createdAfter",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date-time"
                        }
                    },
                    {
                        "description": "Restrict results to contributions which have specified a location which falls within this geohash (or comma seperated list of multiple geohashes)",
                        "in": "query",
                        "name": "geohash",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Restrict results to contributions which have a publicly visible location.",
                        "in": "query",
                        "name": "hasLocation",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "description": "Limit results to contributions with location near this latitude and longitude (comma seperated lat/long pair). Also see radius",
                        "in": "query",
                        "name": "latLong",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "When limiting result by location with the latLong parameter, specify the radius in kilometers.",
                        "in": "query",
                        "name": "radius",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "double"
                        }
                    },
                    {
                        "description": "Restrict results to contributions which include a media file of the given type (ie. image / video)",
                        "in": "query",
                        "name": "mediaType",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Restrict results to contributions which are fall under the jurisdiction by this user.",
                        "in": "query",
                        "name": "ownedBy",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Restrict results to contributions whose headline text matches this keyword.",
                        "in": "query",
                        "name": "q",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Locate a specific contribution by URL words",
                        "in": "query",
                        "name": "urlWords",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Restrict results to contributions by this user identified by id.",
                        "in": "query",
                        "name": "user",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Restrict results to a list of specific contributions identified by a comma seperated list of ids.",
                        "in": "query",
                        "name": "ids",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Select output format. 'json' or 'rss'. Defaults to JSON.",
                        "in": "query",
                        "name": "format",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of contributions",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "assignment": {
                                                "properties": {
                                                    "allowsAnonymousContributions": {
                                                        "type": "boolean"
                                                    },
                                                    "cover": {
                                                        "properties": {
                                                            "artifacts": {
                                                                "items": {
                                                                    "properties": {
                                                                        "contentLength": {
                                                                            "type": "number"
                                                                        },
                                                                        "contentType": {
                                                                            "type": "string"
                                                                        },
                                                                        "height": {
                                                                            "type": "number"
                                                                        },
                                                                        "label": {
                                                                            "type": "string"
                                                                        },
                                                                        "url": {
                                                                            "type": "string"
                                                                        },
                                                                        "width": {
                                                                            "type": "number"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "id": {
                                                                "type": "string"
                                                            },
                                                            "media": {
                                                                "properties": {
                                                                    "duration": {
                                                                        "type": "number"
                                                                    },
                                                                    "id": {
                                                                        "type": "string"
                                                                    },
                                                                    "place": {
                                                                        "properties": {
                                                                            "country": {
                                                                                "type": "string"
                                                                            },
                                                                            "geohash": {
                                                                                "type": "string"
                                                                            },
                                                                            "google": {
                                                                                "type": "string"
                                                                            },
                                                                            "latLong": {
                                                                                "properties": {
                                                                                    "latitude": {
                                                                                        "format": "double",
                                                                                        "type": "number"
                                                                                    },
                                                                                    "longitude": {
                                                                                        "format": "double",
                                                                                        "type": "number"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            "name": {
                                                                                "type": "string"
                                                                            },
                                                                            "osm": {
                                                                                "properties": {
                                                                                    "osmId": {
                                                                                        "type": "number"
                                                                                    },
                                                                                    "osmType": {
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "type": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "created": {
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "description": {
                                                        "type": "string"
                                                    },
                                                    "embargo": {
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "ends": {
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "featured": {
                                                        "type": "boolean"
                                                    },
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "mediaRequired": {
                                                        "type": "boolean"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "open": {
                                                        "description": "Helper value. Is this assignment currently open? Based on the value of the ends field.",
                                                        "type": "boolean"
                                                    },
                                                    "receiptMessage": {
                                                        "description": "An optional assignment specific message to be displayed on successful contribution submission. For example, this might be used to inform contributors of assignment specific moderation time frames.",
                                                        "type": "string"
                                                    },
                                                    "starts": {
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "tags": {
                                                        "items": {
                                                            "properties": {
                                                                "colour": {
                                                                    "description": "Optional HTML hexcode colour",
                                                                    "example": "#0061a6",
                                                                    "type": "string"
                                                                },
                                                                "id": {
                                                                    "type": "string"
                                                                },
                                                                "name": {
                                                                    "type": "string"
                                                                },
                                                                "tagSet": {
                                                                    "properties": {
                                                                        "id": {
                                                                            "type": "string"
                                                                        },
                                                                        "name": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "id",
                                                                        "name"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "urlWords": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "id",
                                                                "name"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "urlWords": {
                                                        "type": "string"
                                                    },
                                                    "webUrl": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "attribution": {
                                                "description": "The public attribution for this contribution. This will be the display name of the registered user or the contributor's first and last name if they provided them while making a non authenticated contribution. A blank attribution field indicates and anonymous contribution.",
                                                "type": "string"
                                            },
                                            "body": {
                                                "type": "string"
                                            },
                                            "created": {
                                                "format": "date-time",
                                                "type": "string"
                                            },
                                            "headline": {
                                                "type": "string"
                                            },
                                            "id": {
                                                "type": "string"
                                            },
                                            "mediaUsages": {
                                                "items": {
                                                    "properties": {
                                                        "artifacts": {
                                                            "items": {
                                                                "properties": {
                                                                    "contentLength": {
                                                                        "type": "number"
                                                                    },
                                                                    "contentType": {
                                                                        "type": "string"
                                                                    },
                                                                    "height": {
[...]
